# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
.eggs/
*.egg-info/
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
build/
dist/
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo 